@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mirrored {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
  }

  .video-container {
    width: 50vh;
    height: 50vh;
  }
}