@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url(./fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  background-color: #171C22;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h-page {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.rotate-135 {
  transform: rotate(135deg);
}

.important-ml-0 {
  margin-left: 0 !important;
}