@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alata';
  src: local('Alata'), url(./fonts/Alata/Alata-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-primary {
  background-color: #009900;
}

.bg-secondary {
  background-color: #252C34;
}

.bg-secondary-dark {
  background-color: #1F262E;
}

.bg-tertiary {
  background-color: #3D2FCF;
}

.bg-dark {
  background-color: #171c22;
}

.alata-font {
  font-family: 'Alata', sans-serif;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.rotate-135 {
  transform: rotate(135deg);
}

.important-ml-0 {
  margin-left: 0 !important;
}